<ion-view view-title="parking">
  <ion-content class="padding">
  	<div class="bar bar-header bar-light">
  <h1 class="title">Booking parking space</h1>
</div>
  <div class="content has-header">
      <div class="list list-inset">
        <label class="item item-input">
          <input name="username" type="text" placeholder="Date:">
        </label>
        <label class="item item-input">
          <input name="password" type="text" placeholder="License plate number">
        </label>
      </div>
      <div class="padding">
        <button id="submit" class="button button-block button-positive">Submit</button>
        
      </div>
    </div>

  </ion-content>
</ion-view>