<ion-view view-title="Parking">
	<ion-content>
		<div class="bar bar-header">
    <div class="h1 title">Map</div>
  </div>

 <div class="content has-header">

    <div class="row">
      <div class="col1 col-10 col-offset-0">
        <div class="col-demo">1</div>
      </div>
      <div class="col1 col-10">
        <div class="col-demo">2</div>
      </div>
      <div class="col2 col-10">
        <div class="col-demo">3</div>
      </div>
      <div class="col1 col-10">
        <div class="col-demo">4</div>
      </div>
      <div class="col3 col-10" >
        <div class="col-demo">5<a href="#/booked">5</a></div>
      </div>
      <div class="col1 col-10">
        <div class="col-demo">6</div>
      </div>
      <div class="col2 col-10">
        <div class="col-demo">7</div>
      </div>
      <div class="col3 col-10">
        <div class="col-demo">8<a href="#/booked">5</a></div>
      </div>
      <div class="col3 col-10">
        <div class="col-demo">9<a href="#/booked">5</a></div>
      </div>
      <div class="col2 col-10">
        <div class="col-demo">10</div>
      </div>
    </div>

    <div class="row">
      <div class="col col-100">
        <div class="col-demo">ROAD</div>
      </div>
      
    </div>
    <div class="row">
      <div class="col1 col-10 col-offset-0">
        <div class="col-demo">11</div>
      </div>
      <div class="col2 col-10">
        <div class="col-demo">12</div>
      </div>
      <div class="col2 col-10">
        <div class="col-demo">13</div>
      </div>
      <div class="col1 col-10">
        <div class="col-demo">14</div>
      </div>
      <div class="col3 col-10">
        <div class="col-demo">15<a href="#/booked">5</a></div>
      </div>
      <div class="col3 col-10">
        <div class="col-demo">16<a href="#/booked">5</a></div>
      </div>
      <div class="col2 col-10">
        <div class="col-demo">17</div>
      </div>
      <div class="col2 col-10">
        <div class="col-demo">18</div>
      </div>
      <div class="col1 col-10">
        <div class="col-demo">19</div>
      </div>
      <div class="col3 col-10">
        <div class="col-demo">20<a href="#/booked">5</a></div>
      </div>
    </div>
   
    <p>Red:In use</p>
    <p>Yellow:Booked</p>
    <p>Green:Free</p>
	</ion-content>
</ion-view>
