<ion-view view-title="Find" ng-controller="findCtrl">
	<ion-content>
	<div class="bar bar-header item-input-inset" >
		
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" ng-model="message" placeholder="search" >
  </label>
  <br><br>
    <button ng-click="search()">search</button>
 
</div>

<div class="content has-header ionic-pseudo">

      <div class="list">

        <a class="item item-avatar" href="#/aaa">
          <img src="img/find1.jpg">
          <h2>aa</h2>
          <p>Address: 20 Rue Camille Blanc,Villejuif</p>
        </a>

        <a class="item item-avatar" href="#/bbb">
          <img src="img/find2.jpg">
          <h2>bb</h2>
          <p>Address: 10 Rue Arago ,Villejuif</p>
        </a>

        <a class="item item-avatar" href="#/ccc">
          <img src="img/find3.jpg">
          <h2>cc</h2>
          <p>Address: 34 Rue Carnot ,Villejuif </p>
        </a>

        


      </div>

    </div>
	</ion-content>

</ion-view>
